@font-face {
    font-family: "Simpsons"; /*a name to be used later*/
    src: url("../Fonts/akbar.ttf") format('truetype'); /*URL to font*/
}



.title {
    font-family: "Simpsons";
    font-size: 30px;
}